@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    font-family: Indie Flower;
    color:whitesmoke;
}

body{
    background-image: url('brian-patrick-tagalog-_8hGFBxWD0A-unsplash.jpg') ;
    background-size: 100%;
}

p{
    
}


